.DS_Store
._*
Debug/
Release/
GeneratedFiles/
autom4te.cache/
*.vcxproj.user
*.suo
*.sdf
*.opensdf
### /Users/dlg/.gitignore-boilerplates/Global/vim.gitignore

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### /Users/dlg/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /Users/dlg/.gitignore-boilerplates/Autotools.gitignore

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing


### /Users/dlg/.gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
*~


### /Users/dlg/.gitignore-boilerplates/C.gitignore

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


### /Users/dlg/.gitignore-boilerplates/C++.gitignore

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


### /Users/dlg/.gitignore-boilerplates/Objective-C.gitignore

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

#CocoaPods
Pods


